.hero {
    clip-path: circle(114.5% at 51% -64%);
    /* background-image: url("../../../assets/Images/footerimg.png");
    background-position: bottom; */
}

@media screen and (max-width: 1450px) {
.hero {
    clip-path: circle(120.5% at 51% -64%);
}
}

@media screen and (max-width: 1250px) {
    .hero {
    clip-path: circle(123.5% at 51% -64%);
}
}

@media screen and (max-width: 868px) {
    .hero{
        clip-path: none;
    }   
}